[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
plotnine = "*"
matplotlib = "*"
jupyter = "*"
scikit-learn = "*"
scikit-misc = "*"
wbdata = "*"
pycountry-convert = "*"
stargazer = "*"
statsmodels = "*"
black = "*"
jupyter-contrib-nbextensions = "*"
pyzmq = "==19.0.2"
numpy = "*"
patchworklib = "*"
fredapi = "*"
arch = "*"
geopandas = "*"
pandas-market-calendars = "*"
skimpy = "*"
prophet = "==1.0"
pystan = "==2.19.1.1"

[dev-packages]

[requires]
python_version = "3.8"
