[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arch = "==5.3.1"
black = "==22.8.0"
fredapi = "==0.5.0"
geopandas = "==0.11.1"
jupyter = "==1.0.0"
jupyter-contrib-nbextensions = "==0.5.1"
matplotlib = "==3.5.0"
numpy = "==1.23.3"
pandas = "==1.5.0"
pandas-market-calendars = "==4.0"
patchworklib = "==0.4.7"
plotly = "==5.10.0"
plotnine = "==0.9"
pmdarima = "==2.0.1"
prophet = "==1.0"
pycountry-convert = "==0.7.2"
pydotplus = "==2.0.2"
pystan = "==2.19.1.1"
pyzmq = "==19.0.2"
scikit-learn = "==1.1.2"
scikit-misc = "==0.1.4"
seaborn = "==0.12.0"
shap = "==0.41.0"
skimpy = "==0.0.6"
stargazer = "==0.0.5"
statsmodels = "==0.13.2"
wbdata = "==0.3.0"
xgboost = "==1.6.2"

[dev-packages]

[requires]
python_version = "3.8"
